@import "../../scss/index.scss";

.user {
  &__title {
    border-bottom: 1px solid $border-grey;
    padding: 15px;
  }

  &__emotions {
    h2 {
      padding: 15px;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 0;
      border-bottom: 1px solid $border-grey;
    }

    > .btn.btn-primary {
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: transparent;
      border: 0;

      &:hover,
      &:focus {
        background-color: transparent !important;
      }
    }
  }
}
