@import "../../../scss/index.scss";

.emotion-modal {
  .modal-content {
    background-color: $background-grey-dark;
    border-radius: 25px;
    overflow: hidden;

    .modal-header {
      border-bottom: 1px solid $border-grey;
      padding: 15px;

      .modal-title {
        svg {
          width: 15px;
          height: 15px;
          fill: $primary;
          margin-left: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .modal-body {
      padding: 0;
      form {
        textarea {
          background-color: $background-grey-dark;
          border: 0;
          font-size: 20px;
          color: $font-light;
          padding: 10px 20px;
          resize: none;
          &:focus {
            box-shadow: none;
          }
        }

        .type {
          padding: 10px;
          display: flex;

          .btn.btn-primary {
            margin: 0 auto;
            margin-top: 10px;
            background-color: transparent;
            border: 0;
            .fa-smile-wink {
              &:hover,
              &:focus {
                color: yellow !important;
              }
            }
            .fa-angry {
              &:hover,
              &:focus {
                color: red !important;
              }
            }
            .fa-frown {
              &:hover,
              &:focus {
                color: green !important;
              }
            }
            .fa-flushed {
              &:hover,
              &:focus {
                color: purple !important;
              }
            }
            .fa-sad-cry {
              &:hover,
              &:focus {
                color: blue !important;
              }
            }
          }

          svg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            // &:hover,
            // &:focus {
            //   color: yellow !important;
            // }
          }
        }

        .count {
          position: absolute;
          top: 250px;
          right: 5px;
          padding: 4px 15px 4px 15px;
          &.error {
            color: $danger;
          }
        }

        button {
          width: 100%;
          height: 60px;
          font-weight: bold;
          font-size: 18px;
          margin-top: 18px;
        }
      }
    }
  }
}
