@import "../../scss/index.scss";

.list-tweets {
  .tweet {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid $border-grey;

    svg {
      width: 50px;
      height: 50px;
      margin-right: 20px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .name {
      display: flex;
      font-weight: bold;
      align-items: center;

      .joy {
        color: yellow;
      }

      .anger {
        color: red;
      }

      .sadness {
        color: blue;
      }

      .fear {
        color: blueviolet;
      }

      .disgust {
        color: green;
      }

      span {
        margin-left: 10px;
        font-size: 12px;
        font-weight: normal;
        color: $font-grey;
      }
    }
  }
}
